.home-page {
  height: 90%;
  width: auto;
  position: relative;

  span {
    &:hover {
      background-color: #c1c1c1;
    }
  }
}

.search-field {
  max-width: 560px;
  position: relative;

  &__search-icon {
    cursor: pointer;
  }

  &__form-field {
    width: 100%;
    padding-bottom: 20px;
  }

  &__submit-btn {
    position: absolute;
    right: 20px;
    bottom: 10px;
  }
}

