.songs-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 1em;

  &__item {
    background-color: #c1c1c1;
    cursor: pointer;
  }
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
margin-top: 20%;
}
