<section
  class="song-details"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div class="song-details__card">
    <mat-icon
     matSuffix
     (click)="closePopUp()">
      {{"close"}}
    </mat-icon>

    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      class="song-details__header">
      <mat-card-title>{{data.song_name}}</mat-card-title>
      <mat-card-subtitle>{{data.artist_name}}</mat-card-subtitle>
    </div>

    <div>
      <p>{{data.percentage}} %</p>

      <p>{{data.lyrics}} %</p>

    </div>
  </div>

</section>
